body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
    height: 98vh;
    background-color: rgb(8, 1, 44);
}

.red {
    background-color: red;
    height: auto;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.orange {
    background-color: orange;
    height: auto;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.yellow {
    background-color: yellow;
    height: auto;
    width: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.green {
    background-color: green;
    height: auto;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}